#viewport {
    background-color: bisque;
}

#markdown {
    /* background-color: bisque; */
    padding: 1em;
}

#markdown * {
    font-family: Verdana, sans-serif;
    line-height: 1.6;
}

#markdown code {
    font-family: Consolas, monospace;
}

#markdown pre>code {
    color: bisque;
    background-color: rgb(105, 52, 15);
    display: block;
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
    border: 2px solid rgb(222, 153, 64);
}

#markdown p>code {
    color: rgb(122, 79, 36);
    padding: 0.3em 0.5em 0.2em 0.5em;
    font-weight: bold;
    background-color: burlywood;
    vertical-align: text-top;
    border-radius: 0.5em;
}

#markdown td code {
    color: rgb(122, 79, 36);
    padding: 0.3em 0.5em 0.2em 0.5em;
    font-weight: bold;
    background-color: burlywood;
    vertical-align: text-top;
    border-radius: 0.5em;
}

#markdown li code {
    color: rgb(122, 79, 36);
    padding: 0.3em 0.5em 0.2em 0.5em;
    font-weight: bold;
    background-color: burlywood;
    vertical-align: text-top;
    border-radius: 0.5em;
}


#viewport #titleline {
    width: 100%;
    background-color: burlywood;
    float: top;
}

#viewport #title {
    padding: 0.5em;
    font-weight: bold;
    font-size: 2em;
}

#viewport #meta {
    float: right;
    font-weight: bold;
}

#markdown h1 {
    display: block;
    background-color: burlywood;
    margin: -0.5em;
    padding: 0.5em;
    font-weight: bold;
    font-size: 2em;
}

#markdown h2 {
    padding-top: 1.5em;
    border-bottom: 4px dashed burlywood;
}

#markdown h3 {
    font-style: italic;
}

#markdown table {
    border-collapse: collapse;
    width: 100%;
    /* 合并边框 */
}

#markdown div:has(>table) {
    background-color: bisque;
    padding: 1em;
}

#markdown th {
    border: 2px solid rgb(105, 52, 15);
    padding: 0.5em;
    background-color: burlywood;
}

#markdown td {
    border: 2px solid rgb(105, 52, 15);
    padding: 0.5em;
}

#index td {
    border: none;
}